__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python/

.env/
venv/
env/
ENV/
env.bak/
*.virtualenv

*.log
*.pot
*.mo

media/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

*.orig
*.bak
celerybeat-schedule
.coverage
.pytest_cache/
.webassets-cache
.mypy_cache/
.ruff_cache/

.env

static_root/

Thumbs.db